@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  /* font-family: ; */
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

/* ---------------------------- */
/* navbar */
/* ---------------------------- */

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#header .logo {
  color: rgb(0, 52, 77);
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

#header ul {
  display: flex;
  justify-self: center;
  align-items: center;
}

#header ul li {
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(0, 52, 77);
  border-radius: 20px;
  transition: all ease-in 0.5s;
}

#header ul li a:hover,
#header ul li a.active {
  background: rgb(0, 52, 77);
  color: white;
}

/* ---------------------------- */
/* text and button */
/* ---------------------------- */

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background: linear-gradient(to top, #094b65, transparent);
}
section #text {
  position: absolute;
  color: rgb(0, 36, 53);
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: "Rancho", cursive;
  transform: translateY(-50%);
}

section #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  color: rgb(0, 36, 53);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  background: white;
  transform: translateY(100px);
}

/* ---------------------------- */
/* parallax */
/* ---------------------------- */
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  pointer-events: none;
  object-fit: contain;
}

/* ---------------------------- */
/* below text */
/* ---------------------------- */

.sec {
  position: relative;
  padding: 100px;
  background: #094b65;
}

.sec h2 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1rem;
}

.sec p {
  font-size: 1rem;
  color: white;
}
